<% provide(:title, "Admnistrator") %>

<h1>Article Management Page</h1>
 <ul class="nav container pull-right">
  <li><%= link_to "Admin Home Page", current_user %></li>
  </ul>
</p>
<p>
  Manage Articles
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/article_form' %>
      </section>
      <section>
        <%= render 'shared/image_form'%>
      </section>
    </aside>
  </div>
</p>
<p>

<div class="container">
    <% if @user.articles.any? %>
    <div class="container">
      <h2>Article List - Total:<%= @user.articles.count %></h2>
    </div>
    <div class="container">
      <ol class="articles">
        <%= render @articles %>
      </ol>
      </div>
      <%= will_paginate @articles %>
    <% end %>
  </div>