<!DOCTYPE html>
<html>
  <head>
    <title><%= "SPORTS-SHACK" %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container center">
    <% if @user != nil and @user.is_admin %>
       <div class="btn-group icons">
    <button class="btn"><%= link_to "Article Management", add_article_path  %> </button>                               
     <button class="btn"><%= link_to "Create New Admin Acc", new_admin_path  %> </button>
     <button class="btn"><%= link_to "Admin Console", current_user  %> </button>
     </div>    
    <%end%>
  </div>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>